@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

/*  #11161e   #eaebeb  #e6c738*/

:root {
  --background-color: #eaebeb;
  --text-color: #11161e;
  --navbar-resume-btn-bg: rgba(0, 0, 0, 0.1);

  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: rgba(255, 255, 255, 0.95);
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-transition: background-color 150ms ease-out !important;
  transition: background-color 150ms ease-out !important;
  margin: 0;
  font-family: "Share Tech mono", sans-serif;
  font-family: "Ubuntu mono", sans-serif;
  font-family: "IBM Plex Mono", monospace; /* likeee likeeee*/
}

body.day-background {
  --background-color: #11161e;
  --text-color: #eaebeb;
  --navbar-resume-btn-bg: rgba(255, 255, 255, 0.2);
  --navbar-bg-contrast: rgba(33, 37, 41, 0.95);
}

.main-container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.presentation-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.presentation-right {
  padding-left: 5rem;
  align-items: end;
}

.footer-container {
  width: 100%;
  padding-top: 150px;
}

.footer-content {
  background-color: var(--background-color);
  height: 120px;
  width: 100%;
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  background: transparent;
  border: none;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  font-weight: 800;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  padding-left: 50px;
  border-radius: 5px;
}

.skills-main-container {
  padding-top: 3rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 180px));
  font-size: 16px;
  font-weight: 550;
  list-style: none;
  padding: 5px;
}

.skills-container li {
  padding: 3px;
}

.move-left:hover {
  color: #ffcb05;
  text-shadow: 1px 1px 2px #3a3939;
  transition: all 0.2s ease-in-out 0s;
}

.skill-text {
  color: var(--text-color);
}

#navbar {
  --navbar-height: 64px;
  height: var(--navbar-height);
  left: 0;
  right: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  font-weight: 800;
  font-size: 20px;
  align-items: center;
  transition: all 500ms;
}

.home-link {
  font-size: 24px;
  margin-top: 0.4em;
}

.home-link:is(:focus, :hover) {
  font-size: 25px;
  text-shadow: 2px 2px 5px var(--navbar-resume-btn-bg);
}

.resume-li {
  padding: 0.4em 0.8em;
}

.resume-link {
  border: none;
  transition: all 0.3s ease-in-out 0s;
}

.resume-link:is(:focus, :hover) {
  background-color: var(--navbar-resume-btn-bg);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link-text {
  position: relative;
}

.navbar-link-text:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e6c738;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-link-text:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--text-color);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: var(--navbar-bg-contrast);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

h1 {
  color: #e6c738;   /* F5CD0C*/
  font-size: 60px;
  font-weight: 800;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px #3a3939;
}

.h1-smaller {
  font-size: 40px;
  font-weight: 800;
  margin: 0px;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  
}

h3 {
  font-size: 30px;
  font-weight: 800;
  margin: 0px;
  margin-bottom: 2rem;
  color: #e6c738;
  text-shadow: 1px 1px 2px #3a3939;

}

.social-btn-container {
  padding-top: 1rem;
  padding-left: 4rem;

}

.social-link-btn {
  background: transparent;
  border: none;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  margin: 8px;
  text-shadow: 1px 1px 2px #3a3939;
  transition: all 0.3s ease-in-out 0s;
}

.social-link-btn:is(:focus, :hover) {
  cursor: pointer;
  background-color: var(--navbar-resume-btn-bg);
  color: #ffcb05;

}

.aboutme-container {
  max-width: 500px;
}

.aboutme-text {
  font-size: 16px;
}

.avatar-container {
  margin-top: 4rem;
}

.image-container {
  width: 240px;
  height: 240px;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 3px 3px 10px #3a3939;
  transition: all 0.3s ease-in-out 0s;

}

.image-container:hover {
  box-shadow: 3px 3px 10px rgba(230 , 199, 56);

}

.projects-main-container {
  padding-top: 5rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.project-details {
  width: 50%;
  padding-right: 30px;
  box-sizing: border-box;
}

.project-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.project-text {
  font-size: 16px;
  padding-right: 30px;
  box-sizing: border-box;
}

.project-image-container-right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.project-image-container-left {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.project-image-wraper {
  height: auto;
  margin-bottom: 20px;
}

.project-image {
  border-radius: 20px;
  box-shadow: 0 0 10px var(--shadows);

}

.project-link {
  display: block;
  text-align: center;
  padding: 10px 0;
  border: 1px solid var(--text-color);
  border-radius: 50px;
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  max-width: 300px;
}

.project-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}


@media screen and (min-width: 800px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .resume-link {
    border-radius: 1rem;
    border: 0.125rem solid var(--text-color);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-button {
    padding: 0.4em 0.8em;
    padding-left: 30px;
  }

  .presentation-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1300px) {
  .social-btn-container {
    position: fixed;
    width: 40px;
    bottom: 50%;
    left: 80px;
    right: auto;
    display: block;
  }
  .social-link-btn:is(:focus, :hover) {
    cursor: pointer;
    background-color: var(--navbar-resume-btn-bg);
    position: relative;
    left: 6px;
  }
}